---
layout: default
title: Projects
background: '/img/bg-post.jpg'

pagination:
  enabled: true
  collection: projects
---

{% for project in paginator.posts %}

<article class="project-preview">
  <a href="{{ project.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="project-title">{{ project.title }}</h2>
    {% if project.subtitle %}
    <h3 class="project-subtitle">{{ project.subtitle }}</h3>
    {% else %}
    <h3 class="project-subtitle">{{ project.excerpt | strip_html | truncatewords: 15 }}</h3>
    {% endif %}
  </a>
  <p class="project-meta">Posted by
    {% if project.author %}
    {{ project.author }}
    {% else %}
    {{ site.author }}
    {% endif %}
    on {{ project.date | date: '%B %d, %Y' }} &middot; {% include read_time.html content=project.content %}
  </p>
</article>

<hr>

{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}

<div class="clearfix">

  {% if paginator.previous_page %}
  <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr;
    Newer<span class="d-none d-md-inline"> Projects</span></a>
  {% endif %}

  {% if paginator.next_page %}
  <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older<span class="d-none d-md-inline"> Posts</span> &rarr;</a>
  {% endif %}

</div>

{% endif %}
